# Collecting individually scraped tables into one data file

## Imports

In [2]:
import pandas as pd

In [3]:
def get_df(filename: str) -> pd.DataFrame:
    """ Converts `filename.csv` to a dataframe """
    df = pd.read_csv(filename, index_col=0)
    return df

## Exploring scraped data

In [4]:
df = get_df('./2016_40.csv')
df['year'] = 2020
df['angle'] = 40
df.head()

                                               holds grades  year  angle
0  [('A18', 'end'), ('C10', 'hold'), ('D15', 'hol...     7B  2020     40
1  [('E18', 'end'), ('F13', 'hold'), ('G6', 'star...     7B  2020     40
2  [('E18', 'end'), ('F14', 'hold'), ('F9', 'hold...     7B  2020     40
3  [('B3', 'start'), ('E10', 'hold'), ('F7', 'hol...     7B  2020     40
4  [('D10', 'hold'), ('H18', 'end'), ('H14', 'hol...     7B  2020     40

In [10]:
df2 = get_df('./2017_25.csv')
df2['year'] = 2017
df2['angle'] = 25
df2.head()

                                               holds grades  year  angle
0  [('E4', 'start'), ('F18', 'end'), ('G4', 'star...     6A  2017     25
1  [('A5', 'start'), ('D10', 'hold'), ('E13', 'ho...     6A  2017     25
2  [('B3', 'start'), ('D11', 'hold'), ('E3', 'sta...     6A  2017     25
3  [('A18', 'end'), ('C13', 'hold'), ('D17', 'hol...     6A  2017     25
4  [('B18', 'end'), ('D11', 'hold'), ('D4', 'star...     6A  2017     25

In [20]:
result = pd.concat([df, df2])
result.index = pd.Series(range(len(result)))

                                               holds grades  year  angle
0  [('A18', 'end'), ('C10', 'hold'), ('D15', 'hol...     7B  2020     40
1  [('E18', 'end'), ('F13', 'hold'), ('G6', 'star...     7B  2020     40
2  [('E18', 'end'), ('F14', 'hold'), ('F9', 'hold...     7B  2020     40
3  [('B3', 'start'), ('E10', 'hold'), ('F7', 'hol...     7B  2020     40
4  [('D10', 'hold'), ('H18', 'end'), ('H14', 'hol...     7B  2020     40

In [22]:
keymaps = [(2016, 40), (2017, 40), (2017, 25), (2019, 40), (2019, 25), (2020, 40)]
dataframes = []
for (year, angle) in keymaps:
    df = get_df(f'./{year}_{angle}.csv')
    df['year'] = year
    df['angle'] = angle 
    dataframes.append(df)

df_full = pd.concat(dataframes)
df_full.index = pd.Series(range(len(df_full)))
df_full.head()

                                               holds grades  year  angle
0  [('A18', 'end'), ('C10', 'hold'), ('D15', 'hol...     7B  2016     40
1  [('E18', 'end'), ('F13', 'hold'), ('G6', 'star...     7B  2016     40
2  [('E18', 'end'), ('F14', 'hold'), ('F9', 'hold...     7B  2016     40
3  [('B3', 'start'), ('E10', 'hold'), ('F7', 'hol...     7B  2016     40
4  [('D10', 'hold'), ('H18', 'end'), ('H14', 'hol...     7B  2016     40

In [24]:
df_full.to_csv('moonboard_data.csv')

In [38]:
import seaborn as sns 

grade_labels = sorted(list(df_full['grades'].unique()))
grade_dict = { grade : i for i, grade in enumerate(grade_labels) }

df_full['grade_score'] = [grade_dict[g] for g in df_full['grades']]

In [50]:
df_full['holds'].isna().sum()

2